path/to/large/file.zip filter=lfs diff=lfs merge=lfs -text
print-BD/Printsmy_Backend[[:space:]](1).zip filter=lfs diff=lfs merge=lfs -text
print-fd/printmys[[:space:]]frontend.zip filter=lfs diff=lfs merge=lfs -text
print-BD/Printmys-Backend(KITECAREER).zip filter=lfs diff=lfs merge=lfs -text
